/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.idea
/.composer/
/.bash_history
/dev/docker/mysql/5.7/data/*
/.env.testing
/public/js/app.js
/public/fonts/vendor/
/public/css/app.css
/public/mix-manifest.json
/.config/
/_ide_helper.php
/.phpstorm.meta.php
.rnd
# netbeans project files
nbproject
.sonar
.scannerwork
